<h2>Observables</h2>
<div class="flex flex-col gap-4">
  <div>
    <div class="font-semilight pb-2">Data source</div>
    <mat-card>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Error:</span>{{ dataSource?.hasError$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Initial state:</span
        >{{ dataSource?.initialState$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Loading:</span>
        {{ dataSource?.loading$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">First loading:</span>
        {{ dataSource?.firstLoading$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">After first loading:</span>
        {{ dataSource?.afterFirstLoading$ | push }}
      </div>
    </mat-card>
  </div>
  <div>
    <div class="font-semilight pb-2">Table</div>
    <mat-card>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Page:</span>
        {{ tableDataSource?.page$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Limit:</span>
        {{ tableDataSource?.limit$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Sort:</span>
        {{ (tableDataSource?.sort$ | push)?.column }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Take:</span>{{ take$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Skip:</span>{{ skip$ | push }}
      </div>
      <mat-divider></mat-divider>
      <div class="flex flex-row p-2.5">
        <span class="grow font-light mr-2">Strategy:</span>
        {{ tableDataSource?.paginationStrategy$ | push }}
      </div>
    </mat-card>
  </div>
</div>
